<div class="row">
  <div class="col m3">
  </div>
  <div class="col s12 m6">
    <div class="card-panel grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Login</span>
        <%= form_for(:user, url: login_path, method: :post) do |f| %>
        <a class="form-input"><%= f.text_field :name, placeholder: 'Name' %></a>

        <a class="form-input"><%= f.password_field :password, placeholder: 'Password' %></a><br><br><br><br><br><br><br>

        <a class="waves-effect waves-light btn teal darken-4"><%= f.submit("Log in") %></a>
        <% end %>
        <br>
        <%= link_to "Create Account", new_user_path, class: "waves-effect waves-light btn teal darken-4" %>
      </div>
    </div>
  </div>
</div>
