<h1>All Items:</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Price</th>
      <th>Description</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <% @items.each do |item| %>
    <tbody>
      <td><a><%= link_to item.name, item_path(item) %></a></td>
      <td><%= image_tag item.image, width: '75px' %></td>
      <td><%= item.price %></td>
      <td><%= truncate(item.description) %></td>
      <td><%= item.status %></td>
      <td><a><%= link_to "Edit", edit_admin_item_path(item) %></a></td>
    </tbody>
  <% end %>
</table>
