<h1>All Items:</h1>
<p>Filter by Tag:</p>
<% @tags.each do |tag| %>
<div class="chip">
  <a href="/<%= tag.name %>"><%= tag.name.titleize %></a>
  <i class="close material-icons"></i>
</div>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Price</th>
      <th>Description</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <% @items.each do |item| %>
    <tbody>
      <td><a><%= link_to item.name, item_path(item) %></a></td>
      <td><%= image_tag item.image, width: '75px' %></td>
      <td><%= item.price %></td>
      <td><%= truncate(item.description) %></td>
      <td><%= item.status %></td>
      <td><a><%= link_to "Edit", edit_admin_item_path(item) %></a></td>
    </tbody>
  <% end %>
</table>
