
<div class="row">
  <div class="col m3">
    <div class="card grey darken-1 large">
      <div class="card-content white-text">
        <div><%= current_user.name %></div>
        <div><%= current_user.email %></div>
        <div><%= current_user.address %></div>
        <div><%= link_to "Orders", orders_path, class: "waves-effect waves-light btn-large" %></div>
        <div><%= link_to "Items", items_path, class: "waves-effect waves-light btn-large" %></div>
      </div>
    </div>
  </div>

  <div class="col m9 left-floater">
    <div align="center">Popular Items:</div>
    <div class="carousel">
      <% @popular_items.each do |item| %>
        <%= link_to item_path(item), class: "carousel-item" do %>
          <%= item.name %>
          <%= image_tag item.image, disabled: true %>
        <% end %>
      <% end %>
    </div>

</div>
