<div class="row">
  <div class="col m3">

  </div>
  <div class="col s12 m6">
    <div class="card grey darken-1 large">
      <div class="card-content white-text">
        <span class="card-title">Login</span>
        <%= form_for(:user, url: login_path, method: :post) do |f| %>
        <a class="form-input"><%= f.label :name %></a>
        <a class="form-input"><%= f.text_field :name %></a>

        <a class="form-input"><%= f.label :password %></a>
        <a class="form-input"><%= f.password_field :password %></a><br><br><br><br><br><br><br><br><br>

        <a class="waves-effect waves-light btn"><%= f.submit("Log in") %></a>
        <% end %>

        <a><%= link_to "Create Account", new_user_path %></a>
      </div>
    </div>
  </div>
</div>
