<div class="row">
  <div class="col m2">

  </div>
  <div class="col m8 account-create-card">
    <div class="card grey darken-1 large">
      <div class="card-content white-text">
        <span class="card-title">Create An Account</span>
        <%= form_for(@user) do |f| %>
        <a><%= f.label :name %></a>
        <a><%= f.text_field :name %></a>

        <a><%= f.label :email %></a>
        <a><%= f.text_field :email %></a>

        <a><%= f.label :address %></a>
        <a><%= f.text_field :address %></a>

        <a><%= f.label :password %></a>
        <a><%= f.password_field :password %></a>

        <a class="waves-effect waves-light btn teal darken-4"><%= f.submit("Create") %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>
