<div class="row">
  <div class="col m1">

  </div>
  <div class="col m10">
    <div class="card">
      <div class="card-image">
        <%= image_tag @item.image %>
        <span class="card-title black"><%= @item.name.titleize %></span>
        <% if @item.active? %>
        <%= link_to '<i class="material-icons">add_shopping_cart</i>'.html_safe, cart_path(item_id: @item.id), class: "btn-floating halfway-fab waves-effect waves-light top red", method: 'post' %>
        <% end %>
      </div>
      <div class="card-content">
        <p><%= @item.description %></p><br>
        <p><%= @item.to_money %></p>
        <p>Status: <%= @item.status.titleize %></p><br>
        <p>Tags:</p>
        <% @item.tags.each do |tag| %>
        <div class="chip">
          <a href="/<%= tag.name %>"><%= tag.name.titleize %></a>
          <i class="close material-icons"></i>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
