<!DOCTYPE html>
<html>
  <head>
    <title>Umami</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
    <ul id="dropdown1" class="dropdown-content">
      <li><%= link_to "All Items", items_path %></li>
      <% if current_user %>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <li><%= link_to "Orders", orders_path %></li>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
      <% end %>

      <% if current_admin? %>
      <li><%= link_to "Admin Dashboard", admin_dashboard_path %></li>
        <li><%= link_to "Create New Item", new_admin_item_path %></li>
        <li><%= link_to "Edit Account Information", edit_admin_user_path(current_user) %></li>
      <% end %>

    </ul>
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo"><%= link_to image_tag('navlogo.png', height: 60), root_path %></a>
        <a class="btn-floating btn-large waves-effect waves-light right red" id="nav-counter"><%= @cart.total_count %></a><a href="/cart"><i class="material-icons right" id="cart">shopping_cart</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Navigation<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </nav>

    <div>
      <% flash.each do |name, msg| %>
        <div class="transparent-white"><%= content_tag :div, sanitize(msg), class: name %></div>
      <% end %>
    </div>

    <div class="row">
      <div class="col m1">

      </div>
     <div class="col s10 m10">
       <div class="card-panel transparent-white">
        <%#= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
    <%= yield %>
       </div>
   </div>
  </div>
  </main>

  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <% if current_user %>
          <%= link_to "Logout", logout_path, method: 'delete' %>
          <% else %>
          <%= link_to "Log In", login_path %>
        <% end %>
      </ul>
    </div>
  </nav>
  </body>
</html>
